<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finals Lab 1</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <h1>Resume</h1>
    <div id="app"></div>
    <header>
        <h2>Michael M. Usi Jr.</h2>
        <h3>Web Developer</h3>
    </header>

    <section class="contact-info">
        <h2>Contact Information</h2>
        <ul>
            <li><i class="email"></i> </li>
            <li><i class="phone"></i> </li>

        </ul>
    </section>

    <section>
        <h2>Work Experience</h2>
        <div class="job">
            <ul>
                <li>Designed, developed, and maintained dynamic websites and web applications using HTML, CSS, JavaScript, and PHP.</li>

                <li>Developed responsive front-end interfaces with modern frameworks such as Vue.js, React for optimized user experience across devices.</li>
            </ul>
        </div>
    </section>


    <section>
        <h2>Education</h2>
        <div class="education">
            <p>Bachelor Science in Information Technology with Specialization in Area Web Development</p>
            <p>Olagaje University - 2009</p>
        </div>
    </section>

    <section class="skills-section">
        <h2>Skills</h2>
        <div class="skills-grid">
            <div>Front-End Development: Expertise in HTML5, CSS3, JavaScript, and frameworks like Vue.js and React.</div>
            <div>Back-End Development: Proficiency in server-side programming using Node.js, Express.js, and PHP.</div>
            <div>Responsive Design: Skilled in creating mobile-first, responsive web applications with CSS frameworks like Bootstrap and Tailwind.</div>
        </div>
    </section>

    </div>
</body>

</html>