<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>EJS</title>
</head>

<body>
    <div class="container mt-5">
        <div class="header text-center mb-4">
            <img src="/images/mike.jpg" alt="akotoloko" class="img-fluid rounded-circle" style="width: 150px;">
            <h1 class="mt-3">Usi Jr., Michael M.</h1>
            <h2>Web Developer</h2>
            <p class="contact-info">Email: michaelm@gmail.com| Phone: 09046597916</p>
        </div>

        <div class="section mb-4">
            <h2>Work Experience</h2>
             <p>Designed, developed, and maintained dynamic websites and web applications using HTML, CSS, JavaScript, and PHP.</p>
            <p>Developed responsive front-end interfaces with modern frameworks such as Vue.js, React for optimized user experience across devices.</p>
        </div>

        <div class="section mb-4">
            <h2>Skills</h2>
            <ul class="list-unstyled">
                <li>Front-End Development: Expertise in HTML5, CSS3, JavaScript, and frameworks like Vue.js and React.</li>
                <li>Back-End Development: Proficiency in server-side programming using Node.js, Express.js, and PHP.</li>
                <li>Responsive Design: Skilled in creating mobile-first, responsive web applications with CSS frameworks like Bootstrap.</li>
            </ul>
        </div>
    </div>
</body>

</html>